.find-tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  color: #FFF;
}
.outer-section {
  height: 40%;
  width: 90%;
  border-radius: 15px;
  background-color: #202020;
}
.inner-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 27vh;
  position: absolute;
  z-index: 2;
  padding: 0 3vw;
}
.section-title {
  font-size: x-large;
  margin: 1.5vh;
}
.add-tracks-button {
  width: 90%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #202020;
  border: none;
  color: #FFF;
}
.add-tracks-button img {
  height: 5vh;
  padding-right: 4%;
}
.add-tracks-button p {
  font-size: medium;
}
.get-recommendations-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D0D0D;
  text-decoration: none;
  width: 300px;
  height: 10%;
  border-radius: 15px;
  font-weight: bold;
}
.get-recommendations-button img {
  height: 3vh;
  padding-right: 20px;
}
.get-recommendations-button:hover {
  background-color: #171717;
}
.track {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.track a {
  margin-left: auto;
}
.track img {
  height: 5vh;
  padding-right: 3%;
}
.track-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-items: center;
}
.artist-info {
  display: flex;
  flex-direction: row;
}
.selected-tracks {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.selected-tracks li {
  padding: 0.5vh 0;
}
.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #0D0D0D;
  width: 100%;
}
.dropdown li {
  padding: 0.5vh;
  cursor: pointer;
}
.track-name {
  font-size: medium;
  display: inline;
  white-space: nowrap;
}
.artist-name {
  font-size: small;
  display: inline;
  color: #C0C0C0;
  white-space: nowrap;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.setting-section input {
  width: 25%;
  height: 3vh;
  margin-left: 5%;
  background-color: #0D0D0D;
  border-radius: 5px;
  color: #FFF;
  border: none;
  text-indent: 15%;
}

.setting-section input:focus {
  outline: none;
}

#no-tracks-selected {
  display: none;
  color: #ff5a5a;
  margin: 1.5vh;
}

#limit-outside-range {
  display: none;
  color: #ff5a5a;
}

#energy-outside-range {
  display: none;
  color: #ff5a5a;
}

#popularity-outside-range {
  display: none;
  color: #ff5a5a;
}

#valence-outside-range {
  display: none;
  color: #ff5a5a;
}

#danceability-outside-range {
  display: none;
  color: #ff5a5a;
}

#instrumentalness-outside-range {
  display: none;
  color: #ff5a5a;
}

#acousticness-outside-range {
  display: none;
  color: #ff5a5a;
}

#tempo-outside-range {
  display: none;
  color: #ff5a5a;
}

#liveness-outside-range {
  display: none;
  color: #ff5a5a;
}

#loudness-outside-range {
  display: none;
  color: #ff5a5a;
}

#speechiness-outside-range {
  display: none;
  color: #ff5a5a;
}

.setting-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.5vh;
}

.settings-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slider-label {
  margin: 1vh 0;
}

.settings-title img {
  height: 2vh;
  padding-right: 3vw;
}

.settings-info-text {
  display: none;
  color: #ccc;
  background-color: #0D0D0D;
  padding: 1vh;
  margin: 1vh;
  width: fit-content;
}

.slider-input {
  -webkit-appearance: none;
  appearance: none; 
  width: 96.3%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16em;
}

.slider-input::-webkit-slider-runnable-track {
  height: 2vh;
  background: #ccc;
  border-radius: 16em;
  pointer-events: none
}

.slider-input::-moz-range-track {
  height: 2vh;
  background: #ccc;
  border-radius: 16em;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 100%;
  width: 2vh;
  background-color: #ccc;
  border-radius: 50%;
  border: 0.188em solid #0D0D0D;
}

.slider-input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 100%;
  width: 6%;
  background-color: #ccc;
  border-radius: 50%;
  border: 0.188em solid #0D0D0D;
}