.recommended-tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  color: #FFF;
}

.recommendation-section {
  height: 80%;
  width: 90%;
  border-radius: 15px;
  background-color: #202020;
}

.track-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 64vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index: 2;
  padding: 0 3vw;
}

.section-title {
  font-size: x-large;
  margin: 1.5vh;
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track img {
  height: 5vh;
  padding-right: 3%;
}

.track-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-items: center;
}

.artist-info {
  display: flex;
  flex-direction: row;
}

.tracks {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tracks li {
  padding: 0.5vh 0;
}

.track-name {
  font-size: medium;
  display: inline;
  white-space: nowrap;
}
.artist-name {
  font-size: small;
  display: inline;
  color: #C0C0C0;
  white-space: nowrap;
}
.export-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D0D0D;
  text-decoration: none;
  width: 300px;
  height: 10%;
  border-radius: 15px;
  font-weight: bold;
}
.export-button img {
  height: 4vh;
  padding-right: 20px;
}
.export-button:hover {
  background-color: #171717;
}