<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Music Recommendation{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
    <nav>
        <a href="/">
            <img src="{{ url_for('static', filename='favicon.png') }}">
            <h1>Spotify Playground</h1>
        </a>
        <a href="/profile">
            <h3>Profile</h2>
        </a>
        <a href="/history">
            <h3>History</h2>
        </a>
        <a href="/playlists">
            <h3>Playlists</h2>
        </a>
        <a href="/top-tracks">
            <h3>Top Tracks</h2>
        </a>
        <a href="/top-artists">
            <h3>Top Artists</h2>
        </a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- Add footer content here -->
    </footer>
</body>
</html>